<br>
<div class="container">
     <div class="row">
    <div class="form-group">
        <label><i>Flight No:</i></label>
        <input type type=text class="form-control" [(ngModel)]="data.flightNo" name="flightNo"><br>
        <label><i>Carrier Name:</i></label>
        <input type type=text class="form-control" [(ngModel)]="data.carrierName" name="carrierName"><br>
        <label><i>Seat Capacity:</i></label>
        <input type type=text class="form-control" [(ngModel)]="data.seatCapacity" name="seatCapacity"><br>
        <label><i>Flight Model:</i></label>
        <input type type=text class="form-control" [(ngModel)]="data.flightModel" name="flightModel"><br>
        <button class="btn btn-sm btn-success" (click)="addFlight()">Submit</button>
    </div>
</div>
</div>
